
.container {
    display: flex;
    justify-content: center;
    gap: 2rem; 
    padding: 2rem 0;
    background-color: rgb(9, 236, 187);

  }
  
  
  .container a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
  }
  
  .container a:hover {
    color: #10b9e4; 
  }
